html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(45deg, rgba(199, 161, 183, 1) 0%, rgba(245, 157, 127, 1) 33%, rgba(247, 198, 124, 1) 66%, rgba(255, 226, 145, 1) 100%);
}

.content {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;  
    user-select: none;

    & > h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        margin: 0;
        color: white;
        font: bold small-caps 160px Futura;
        text-shadow: 6px 6px black;
    }

    & > h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translate(25px, -65px);
        
        margin: 0;
        color: white;
        font: 60px Futura;
        text-shadow: 4px 4px black;
    }

    & > .roles {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateY(110px);

        & > h3 {
            margin: 0;
            color: white;
            font: 20px Futura;
            text-shadow: 2px 2px black;
        }
    }

    & > .links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateY(160px);

        & > a,p {
            margin: 0;
            color: white;
            font: 20px Futura;
            text-shadow: 2px 2px black;
        }
    }
}

a {
    margin: 0;
    color: white;
    font: 20px Futura;
    text-shadow: 2px 2px black;
}

canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}